{{ block "collections" . }}
  <div id="collections">
    <h1>Collections</h1>
    {{ template "searchCollections" }}
    {{ template "addCollection" }}
    <div
      id="displayCollections"
      hx-get="/collections"
      hx-trigger="refreshCollection from:body, load"
    >
      {{ template "displayCollections" . }}
    </div>
  </div>
{{ end }}

{{ block "displayCollections" . }}
  {{ range . }}
    <p>{{ .Name }}</p>
  {{ end }}
{{ end }}

{{ block "searchCollections" . }}
  <input
    name="q"
    hx-get="/collections/search"
    hx-trigger="input changed delay:500ms, search"
    hx-target="#displayCollections"
  />
{{ end }}

{{ block "addCollection" . }}
  <form hx-post="/collections" hx-swap="none">
    Name:
    <input type="text" name="name" />
    <button type="submit">Add Collection</button>
  </form>
{{ end }}
